{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:"ka" }}" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    
    <title>{% block page_title_full %}{% block page_title_prefix %}{% endblock page_title_prefix %}{% block page_title %}{% trans "აიტი ინვენტარის სისტემა" %}{% endblock page_title %}{% block page_title_suffix %}{% endblock page_title_suffix %}{% endblock page_title_full %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'core/css/custom.css' %}">

    {% block extra_css %}{% endblock extra_css %}
    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="layout-fluid" data-bs-theme="light">
    <div class="page">
        {% block header %}
            {% include "core/_navigation.html" %} 
        {% endblock header %}

        <div class="page-wrapper">
            {% block page_wrapper_start %}{% endblock %}

            <!-- BEGIN: Page Header -->
            {% block page_header %}
                <div class="page-header d-print-none">
                    <div class="container-xl">
                        <div class="row g-2 align-items-center">
                            <div class="col">
                                {% block breadcrumbs %}
                                    {# This block can be used for breadcrumbs or pre-titles if needed in child templates #}
                                    {# Example: <div class="page-pretitle"> {% block page_pretitle %}{% endblock %} </div> #}
                                {% endblock breadcrumbs %}
                                <h2 class="page-title">
                                    {% block page_header_title %}
                                        {{ page_title|default:_("გვერდის სათაური") }} 
                                    {% endblock page_header_title %}
                                </h2>
                                {% block page_header_subtitle %}
                                {% endblock page_header_subtitle %}
                            </div>
                            {% block page_actions %}
                            <div class="col-auto ms-auto d-print-none">
                                <div class="btn-list">
                                    {% block page_action_buttons %}{% endblock page_action_buttons %}
                                </div>
                            </div>
                            {% endblock page_actions %}
                        </div>
                    </div>
                </div>
            {% endblock page_header %}
            <!-- END: Page Header -->

            <div class="page-body">
                <div class="container-xl">
                    {% block page_body_start %}{% endblock %}

                    {% if messages %}
                        <div class="row row-cards">
                            <div class="col-12">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                    <div>{{ message }}</div>
                                    <a class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'დახურვა' %}"></a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    
                    {% block content_container %}
                        <div class="row row-cards">
                            <div class="col-12">
                                {% block content %}
                                <!-- Page specific content will be injected here -->
                                {% endblock content %}
                            </div>
                        </div>
                    {% endblock content_container %}

                    {% block page_body_end %}{% endblock %}
                </div>
            </div>

            {% block footer %}
            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div class="row text-center align-items-center flex-row-reverse">
                        <div class="col-lg-auto ms-lg-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item"><a href="{% url 'core:privacy_policy' %}" class="link-secondary">{% trans "კონფიდენციალურობის პოლიტიკა" %}</a></li>
                                <li class="list-inline-item"><a href="{% url 'core:terms_service' %}" class="link-secondary">{% trans "წესები და პირობები" %}</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    Copyright &copy; {% now "Y" %}
                                    <a href="." class="link-secondary">{% trans "აიტი ინვენტარის სისტემა" %}</a>.
                                    {% trans "ყველა უფლება დაცულია." %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            {% endblock footer %}

            {% block page_wrapper_end %}{% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> 
    <script src="{% static 'core/js/custom.js' %}"></script>

    {% block extra_js_before_jquery %}{% endblock %}
    {% block extra_js_after_jquery %}{% endblock %}
    {% block extra_js_scripts %}{% endblock extra_js_scripts %} 
</body>
</html>