{% extends "core/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ page_title }} - აიტი ინვენტარი{% endblock title %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">{{ page_title }}</h2>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success mt-3">{% trans "რეგისტრაცია" %}</button>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    <p class="mb-0">{% trans "უკვე გაქვს ანგარიში?" %} <a href="{% url 'core:login' %}">{% trans "შესვლა აქ" %}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
