{% extends "core/base.html" %}
{% load i18n crispy_forms_tags %}

{% block page_title_prefix %}{{ page_title }} - {% endblock %}
{% block page_title %}{% trans "Inventory Management" %}{% endblock page_title %}

{% block page_header_title %}{% endblock %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
<div class="container-xl">
    {% include "core/includes/messages.html" %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ form_title|default:page_title }}</h3>
        </div>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">
                        {{ submit_button_text|default:_("Save") }}
                    </button>
                    <a href="{{ view.success_url }}" class="btn btn-outline-secondary">
                        {% trans "Cancel" %}
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}